body {
    font-family: 'Poppins', sans-serif;
    background-color: #EEE2DF;
}

h1, h2 {
    color: #CA7C5C;
}

.btn-primary {
    background-color: #B36A5E;
    border-color: #B36A5E;
}

.btn-primary:hover {
    background-color: #C89F9C;
    border-color: #C89F9C;
}

.table {
    background-color: #EED7C5;
}

.table thead {
    background-color: #B36A5E;
    color: #EEE2DF;
}

.table tbody tr {
    background-color: #EED7C5;
}

.table tbody tr:nth-child(even) {
    background-color: #C89F9C;
}

#create,#update {
    background-color: #EED7C5;
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
}

h1 {
    color: #CA7C5C;
    margin-bottom: 30px;
}

label {
    color: #C89F9C;
}
