body {
    font-family: 'Poppins';
    background-color: #EEE2DF;
    color: #B36A5E;
}

.header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('');
    height: 500px;
    background-size: cover;
    background-color: red;
}

.title {
    color: #B36A5E;
    font-size: 48px;
    text-transform: uppercase;
}

.gite-presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.gite {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.gite-image {
    flex: 1;
    text-align: center;
    background-color: blue;
    width: 60%;
}

.gite-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.gite-info {
    flex: 1;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
}

.gite-title {
    color: #CA7C5C;
    font-size: 28px;
    margin-bottom: 15px;
}

.gite-content {
    color: #B36A5E;
    line-height: 1.5;
}

.gite-content p {
    margin-bottom: 15px;
}
